<link rel="stylesheet" href="/categoryModal.css">

<div id="<%= modalId %>" class="modal">
  <div class="modal-box">
    <h3><%= title %></h3>
    <form class="modal-form" action="<%= action %>" method="<%= method %>">
      <label for="category_name_<%= modalId %>">Name</label>
      <input
        type="text"
        id="category_name_<%= modalId %>"
        name="category_name"
        value="<%=  typeof category_name !== 'undefined' ? category_name : '' %>"
        required
      />
      <div class="btns">
        <button
          class="modal-close-btn"
          type="button"
          onclick="document.getElementById('<%= modalId %>').style.display='none'">
          CLOSE
        </button>
        <button class="submit-btn" type="submit"><%= cta %></button>
      </div>
    </form>
  </div>
</div>
