<link rel="stylesheet" href="/categoryModal.css">
<link
			rel="stylesheet"
			href="/category.css"
		/>

<button class="edit-btn" title="Edit" onclick="openModal('name-modal-<%= name.id %>')">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#d1aee6ec"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
</button>

<div id='name-modal-<%= name.id %>' class="modal" aria-hidden="true">
  <div class="modal-box">
    <h3>Edit name</h3>
  
    <form class="modal-form" action="/names/<%= name.id %>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <input type="hidden" name="category_id" value="<%= category_id %>" />
        <label for="name-<%= name.id %>">Name</label>
        <input type="text" id="name-<%= name.id %>" name="name" required value="<%= name.name %>" />

        <label for="meaning-<%= name.id %>">Meaning</label>
        <input type="text" id="meaning-<%= name.id %>" name="meaning" required value="<%= name.meaning %>" />

        <label for="choices-multiple">Category</label>
        <select class="choices-multiple" name="selectedCategories[]" multiple required>
            <% categories.forEach(category => { %>
           <option value="<%= category.id %>"><%= category.name %></option>
             <% }); %>
        </select>

    <div class="btns">
        <button class="modal-close-btn" type="button" onclick="closeModal('name-modal-<%= name.id %>')">CLOSE</button>
        <button  class="submit-btn" type="submit">ADD</button>
    </div>
        
    </form>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.choices-multiple').forEach(select => {
      new Choices(select, {
        removeItemButton: true,
        placeholderValue: 'Select categories',
        searchEnabled: true
      });
    });
  });

  function openModal(id) {
    const modal = document.getElementById(id);
    modal.style.display = 'flex';
    modal.setAttribute('aria-hidden', 'false');

    const input = modal.querySelector('input[type="text"]');
    input.focus();
    const length = input.value.length;
    input.setSelectionRange(length, length);
  }

  function closeModal(id) {
    const modal = document.getElementById(id);

    if (document.activeElement) document.activeElement.blur();

    modal.setAttribute('aria-hidden', 'true');
    modal.style.display = 'none';
  }
</script>